extends template
block variables
    -    var title = 'Подробнее'
block content
    .about
        .text1
            h1 "Сданные в утиль автомобили будут разбирать на запчасти"
            p Депутат от Единой России, член комитета Госдумы по транспорту и развитию транспортной инфраструктуры, Александр Толмачёв предлагает разбирать утилизированные автомобили на запчасти.
            p Полученные при разборке детали будут восстанавливать и использовать повторно.
            img(src="img/img3.png")
            br
            br
            h3 Восстановление автозапчастей предлагают соединить с программой утилизации
            p Депутат предлагает создать целую индустрию восстановления автозапчастей и соединить её с государственной программой по утилизации автомобилей.
            p По его мнению, при существующем дефиците автозапчастей целесообразно не утилизировать автомобили полностью, а использовать от них детали и компоненты.