extends template
block variables
    -    var title = 'RUS DTP'
block content
    .galleryGrid
        .img1
            a(href="about1.html")
                img(src="img/img2.jpeg")
        .img2
            a(href="index.html")
                img(src="img/img1.jpg")
        .img3
            a(href="about1.html")
                img(src="img/img3.png")
        .img4
            a(href="index.html")
                img(src="img/img4.jpeg")
        .img5
            a(href="index.html")
                img(src="img/img5.jpg")
    .textGrid
        .img1
            a(href="index.html")
                img(src="img/img2.jpeg")
        .text1
            a(href="index.html")
                h2 "ДТП в Омске: водитель «Нексии» обсигналил автора и въехал в кроссовер"
            p ДТП в Омске у кинотеатра Маяковского. Водитель «Нексии» сперва обсигналил автора, после чего въехал в кроссовер. Видеорегистратор запечатлел момент столкновения.
        .img2
            a(href="about1.html")
                img(src="img/img3.png")
        .text2
            a(href="about1.html")
                h2 "Сданные в утиль автомобили будут разбирать на запчасти"
            p Депутат от Единой России, член комитета Госдумы по транспорту и развитию транспортной инфраструктуры, Александр Толмачёв предлагает разбирать утилизированные автомобили на запчасти.
        .img3
            a(href="index.html")
                img(src="img/img1.jpg")
        .text3
            a(href="index.html")
                h2 "Дорожный конфликт в Петербурге: мужчина на «Солярисе» оскорбил другого водителя и напал на сотрудников ДПС"
            p Конфликт произошёл в Санкт-Петербурге на перекрестке Шаврова — Комендантский. Водитель автомобиля Hyundai Solaris объехал поток машин по встречной полосе и начал оскорблять водителя машины с видеорегистратором, назвав его фашистом. Автор ролика обратился в полицию.

